@model List<ContactUs>
@{
    ViewData["Title"] = "Messages";
}



<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Customers Messages</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider " >
            <div class=" row">

                @foreach (var item in Model)
                {
                    <div class=" col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" >
                        <div class="testimonial-item">
                            <p style="font-size:28px" >@item.Subject</p>
                            <p>

                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Message
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                            <h3>@item.Name</h3>
                            <h4>@item.Email</h4>

                        </div>
                    </div><!-- End testimonial item -->

                }






            </div>
        </div>

    </div>
</section><!-- End Testimonials Section -->